<div style="cursor: pointer;" pRipple (onClick)="show()" class="container">
    <div class="landing-container">
      <div class="inside-box">
        <div class="contant">
            <header>
          <h1>Welcome to PollPulse</h1>
          <p>Create polls, chat with participants, and get instant results!</p>
        </header>
        <main>
          <div class="features">
            <div class="feature">
              <i class="fas fa-poll"></i>
              <h3>Create Polls</h3>
              <p>Easily create and customize polls</p>
            </div>
            <div class="feature">
              <i class="fas fa-comments"></i>
              <h3>Live Chat</h3>
              <p>Engage with participants in real-time</p>
            </div>
            <div class="feature">
              <i class="fas fa-chart-bar"></i>
              <h3>Instant Results</h3>
              <p>View and analyze poll results instantly</p>
            </div>
          </div>
          <button (click)="login()">Login</button>
        </main>
        </div>
      </div>
    </div>
  </div>